<link rel="stylesheet" href="css/dashboard.css">
<div class="container-fluid">
    <div class="content">
    <div class="row">
        <div class="col-md-6">
            <h1>dashboard</h1>

        </div>
        <div class="col-md-6 align-items-end">
            <button class="btn">hghg</button>

        </div>
        <div class="row">
            <div class="col-md-6">
        <div class="cards-header">
            
                <div class="col-md-6">
                    <h4>Patient Statistics</h4>
                </div>
                <div class="col-md-6">
                    <h2>fhhb</h2>
                </div>
            
            <div class="card-body">
                <div class="row">

                    <h4>activity</h4>
                    
                </div>
                <div class="row">
                    <h4>By age group</h4>
                    
                </div>
            </div>


            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
            <div class="row">

            </div>
            </div>
            <div class="card-header">
            <div class="row">
                <div class="col-md-6">

                </div>
                <div class="col-md-6">
                    
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">

                        </div>
                        <div class="col-md-6">

                        </div>
                    </div>
                    <div class="row">
                        echarts
                    </div>
                </div>


            </div>
            </div>
    
        </div>
    </div>
    </div>
    </div>
    </div>
    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <script src="../node_modules/bootstrap/dist/css/bootstrap.css"></script>
    <script src="../node_modules/@popperjs/core/dist/cjs/popper.js"></script>
     <script src="library/plugins/echarts/dist/echarts.js"></script>
    
    <script type="text/javascript">
     var myChart = echarts.init(document.getElementById('main'));
    option = {
    backgroundColor: '#2c343c',

    title: {
        text: 'Customized Pie',
        left: 'center',
        top: 20,
        textStyle: {
            color: '#ccc'
        }
    },

    tooltip: {
        trigger: 'item',
        formatter: '{a} <br/>{b} : {c} ({d}%)'
    },

    visualMap: {
        show: false,
        min: 80,
        max: 600,
        inRange: {
            colorLightness: [0, 1]
        }
    },
    series: [
        {
            name: '访问来源',
            type: 'pie',
            radius: '55%',
            center: ['50%', '50%'],
            data: [
                {value: 335, name: '直接访问'},
                {value: 310, name: '邮件营销'},
                {value: 274, name: '联盟广告'},
                {value: 235, name: '视频广告'},
                {value: 400, name: '搜索引擎'}
            ].sort(function (a, b) { return a.value - b.value; }),
            roseType: 'radius',
            label: {
                color: 'rgba(255, 255, 255, 0.3)'
            },
            labelLine: {
                lineStyle: {
                    color: 'rgba(255, 255, 255, 0.3)'
                },
                smooth: 0.2,
                length: 10,
                length2: 20
            },
            itemStyle: {
                color: '#c23531',
                shadowBlur: 200,
                shadowColor: 'rgba(0, 0, 0, 0.5)'
            },

            animationType: 'scale',
            animationEasing: 'elasticOut',
            animationDelay: function (idx) {
                return Math.random() * 200;
            }
        }
    ]
};
myChart.setOption(option);