<style>
    footer{
        padding: 15px;
        background: #fff;
        bottom: 0;
        left: 0;
        position: fixed;
        width: 100%;
        border-top: 1px solid #ccc;
        text-align: center;
    }
</style>
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <p class="text-left footer-txt">© 2020. All rights reserved.</p>
            </div>
            <div class="col-md-6 text-right">
                <img src="./images/vilpowerLogo.png" class="footer-logo-img" />
            </div>
        </div>
    </div>
</footer>
