<style>
    body {
        font-family: 'Lato', sans-serif;
    }
    
    #myNav {
        width: 0;
        /* border-top: 2px solid lightgrey; */
    }
    
    .overlay {
        height: 92%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 4px;
        left: 0;
        background-color: white;
        color: black;
        overflow-x: hidden;
        transition: 0.5s;
        border-bottom: 1px solid lightgrey;
    }
    
    .overlay-content {
        position: relative;
        /* top: 25%; */
        width: 98%;
        margin-top: -80px;
        border-top: 1px solid lightgrey;
    }
    
    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: black;
        display: block;
        transition: 0.3s;
    }
    
    .overlay .nav-link:hover,
    .overlay .nav-link:focus {
        color: black;
        background-color: lightgrey;
    }
    
    .overlay .closebtn {
        position: absolute;
    left: 18px;
    top: -6px!important;
    /* z-index: 1000; */
    font-size: 20px;
    font-weight: 600;
    }
    
    .logo-img1 {
        height: 35px;
        width: 130px;
        margin-left: 54px;
        /* margin-top: 5px; */
    }
    
    @media (min-width: 375PX) and (max-width: 850px) {
        #myNav {
            width: 43%;
        }
        .overlay {
            height: 85.5%;
        }
        .overlay a {
            font-size: 20px
        }
        .overlay-content {
            position: relative;
            width: 100%;
            margin-top: -70px!important;
            border-top: 1px solid lightgrey;
        }
        .overlay .closebtn {
            font-size: 28px;
            top: 15px;cursor: pointer;
            /* right: 35px; */
        }
    }
    
    @media (min-width: 850px) and (max-width: 950px) {
        #myNav {
            width: 25%;
        }
        .overlay-content {
            position: relative;
            /* top: 25%; */
            width: 100%;
            margin-top: -80px;
            border-top: 1px solid lightgrey;
        }
    }
</style>
<div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a><img src="./images/vilpowerLogo.png" class="logo-img1" />
    <div class="overlay-content">
        <a class="head-tag home-tag"><b>Home</b></a>
        <a class="nav-link dashboard menu-active" onclick="loadMainPage('/dashboard')" href="#/dashboard"><img src="/images/logo_128.png" class="menu-icon" />&nbsp; Dashboard</a>
        <a class="nav-link" onclick="loadMainPage('/patients-profile')" href="#/patients-profile"><img src="/images/logo_128.png" class="menu-icon" />&nbsp; Patients Profile</a>
        <a class="head-tag"><b>Adminstration</b></a>
        <a class="nav-link" onclick="loadMainPage('/manage-patients')" href="#/manage-patients"><img src="/images/logo_128.png" class="menu-icon" />&nbsp; Patients</a>
        <a class="nav-link" onclick="loadMainPage('/skin-patches')" href="#/skin-patches"><img src="/images/logo_128.png" class="menu-icon" />&nbsp; Skin Patches</a>
    </div>
</div>

<div class="row header-row">
    <div class="col-md-6">
        <span class="open-nav" onclick="openNav()">&#9776; <img src="./images/vilpowerLogo.png" class="logo-img" />
      </span>
    </div>
    <div class="col-md-6 text-right">
        <img src="./images/profile-image-circle.png" class="circle-img profile-img" />
        <!-- <div class="dropdown"> -->
        <button type="button" class="btn dropdown-toggle show-drop" data-toggle="dropdown" onclick="openCard()">
                <%= sessionObj.userName ? sessionObj.userName : '-' %>
            </button>
        <div class="card card-div">
            <div class="card-body">
                <div class="row ">
                    <div class="col-md-12 text-center">
                        <img src="./images/profile-image-circle.png" class="circle-img profile-img1" />
                        <h4 class="card-title" style="margin-bottom: 0;">
                            <%= sessionObj.userId ? sessionObj.userId : '-' %>
                        </h4>
                        <p class="card-text">
                            <%= sessionObj.userName ? sessionObj.userName :'-' %>
                        </p>
                        <button type="button" class="btn btn-primary logout-btn" onclick="logout()">Logout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- </div> -->
</div>


</div>
<script src="js/header.js"></script>
<script src="/js/common.js"></script>