<div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="overlay-content">
    <a style="font-size: 12px;color:white;">Home</a>
        <a class="nav-link" onclick="loadMainPage('/dashboard')" href="#/dashboard" ><i class="fa fa-home"></i> Dashboard</a>
        <a class="nav-link" onclick="loadMainPage('/snapshot')" href="#/snapshot"><i class="fa fa-bell"></i> Patient Profile</a>
        <a style="font-size: 12px;color:white;">Adminstration</a>
        <a class="nav-link" onclick="loadMainPage('/patitents-profile')" href="#/patitents-profile"><i class="fa fa-bell"></i> Patients</a>
        <a class="nav-link"  onclick="loadMainPage('/skin-patches')" href="#/skin-patches"><i class="fa fa-user"></i> skin-patches</a>
        <a class="nav-link"  onclick="loadMainPage('/manage-patients')" href="#/manage-patients"><i class="fa fa-user"></i> manage-patients</a>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; <img src="./images/vilpowerLogo.png" class="logo-img">
    </span>
  </div>
  <div class="col-md-6 text-right">
    <div class="row">
      <img class="img-circle profile-img" src="images/logo_128.png">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">User
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">HTML</a></li>
          <li><a href="#">CSS</a></li>
        </ul>
      </div>
  </div>
  </div>
</div>

<script>
function openNav() {
  document.getElementById("myNav").style.width = "15%";
}

function closeNav() {
  document.getElementById("myNav").style.width = "0%";
}
</script>
     

