<div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a><img src="./images/vilpowerLogo.png" class="logo-img1" />
    <div class="overlay-content">
        <a class="head-tag home-tag"><b>Home</b></a>
        <a class="nav-link dashboard menu-active" onclick="loadMainPage('/dashboard')" href="#/dashboard"><img src="/images/business-report.png" class="menu-icon" />&nbsp; Dashboard</a>
        <a class="nav-link" onclick="loadMainPage('/patients-profile')" href="#/patients-profile"><img src="/images/patient.png" class="menu-icon" />&nbsp; Patients Profile</a>
        <a class="head-tag"><b>Adminstration</b></a>
        <a class="nav-link" onclick="loadMainPage('/manage-patients')" href="#/manage-patients"><img src="/images/examination.png" class="menu-icon" />&nbsp; Patients</a>
        <a class="nav-link" onclick="loadMainPage('/skin-patches')" href="#/skin-patches"><img src="/images/pairing.png" class="menu-icon" />&nbsp; Skin Patches</a>
    </div>
</div>

<div class="row header-row">
    <div class="col-md-6 col-sm-6">
        <span class="open-nav" onclick="openNav()">&#9776; <img src="./images/vilpowerLogo.png" class="logo-img" />
      </span>
    </div>
    <div class="col-md-6 col-sm-6 text-right" id="header-div">
        <img src="./images/profile-image-circle.png" class="circle-img profile-img" />
        <button type="button" class="btn dropdown-toggle show-drop" data-toggle="dropdown" onclick="openCard()">
            <%= sessionObj.userName ? sessionObj.userName : '-' %>
        </button>
        <div class="card card-div" id="profileDiv">
            <div class="card-body">
                <div class="row ">
                    <div class="col-md-12 text-center">
                        <img src="./images/profile-image-circle.png" class="circle-img profile-img1" />
                        <h4 class="card-title" style="margin-bottom: 0;">
                            <%= sessionObj.userId ? sessionObj.userId : '-' %>
                        </h4>
                        <p class="card-text">
                            <%= sessionObj.userName ? sessionObj.userName :'-' %>
                        </p>
                        <button type="button" class="btn btn-primary logout-btn" onclick="logout()">Logout</button>
                        </div>
                        </div>
                        </div>
                        </div>
    </div>
</div>



<script src="js/header.js"></script>
<script src="/js/auth.js"></script>