<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="Boodskap Inc.,">
	<link rel="icon" type="image/png" sizes="32x32" href="images/mrt-logo.svg">
	<title>My Web | Boodskap</title>
	<link href="dist/css/style.min.css" rel="stylesheet">
	<link href="css/main-style.css" rel="stylesheet">
	<link href="css/login.css" rel="stylesheet">
	<link rel="stylesheet" href="plugins/code/build/css/intlTelInput.css">
	<link href="dist/css/fonts/Play-Bold.ttf" rel="stylesheet">
    <link href="dist/css/fonts/Play-Regular.ttf" rel="stylesheet">
    <link href="dist/css/fonts/Playcss2.css" rel="stylesheet">
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<base href="<%=config.url%>/">
</head>

<body>
	<div class="container-fluid">
        <div class="row about">   
             <div class="col-md-8 bgheart">
                 <div class="heart">
                    <p>Advance technology makes it possible for can get information about your
                        heart without interrupting your life.Continues heart monitoring is useful 
                        for capturing irregular heartbeats that happent infrequently-in some case,
                        you may not even feel any symptom.Depending on your situation,your doctor
                        may recomment heart monitoring.
					</p>
                 </div>
                </div>
                <div class="col-md-4x">
                    <div class="logo">
                     <img src="/images/vilpowerLogo.png">
                     </div>
                    <div class="form">    
                     <label for="eid">EmailId:</label><br>
                     <input type="text" id="eid" name="eid"><br>
                     <label for="pword">Password:</label><br>
                     <input type="text" id="pword" name="pword"><br><br>
                     <input type="checkbox" id="remember" name="remember" value="Me">
                     <label for="remember">Remember me</label><br>
                     <button type="button" class="btn btn-primary login-btn">Sign me in</button>
					</div>
					<div class="click">
						Not a remember yet?<a href="#">click here</a>.<br> 
					</div>  
                    <div class="team">
                        <a href="#" class="text-warning textColor">Terms &amp; Conditions</a>
                       <span class="bar">|</span>
                        <a href="#" class="text-warning textColor">Privacy Policy</a>
                    </div>
                    <div class="boodskap"> 
                        <p class="power">
                        @ 2020 all rights reserved powered by <img src="/images/boodskap.jpg">
                    </p>
                    </div>
                </div>     
        </div>
    </div>
    <div class=" col-8 health">
        <h2>A HEALTH CARE SYSTEM</h2>
        <p>Through our hardware and software application,we're working to build a complete virtual
            care system that makes healthcare providers smarter and more connected-digit
        </p>
    </div>
</body>
</html>
