<!-- <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="Boodskap Inc.,">
	<link rel="icon" type="image/png" sizes="32x32" href="images/mrt-logo.svg">
	<title>My Web | Boodskap</title>
	<link href="dist/css/style.min.css" rel="stylesheet">
	<link href="css/main-style.css" rel="stylesheet">
	<link href="css/login.css" rel="stylesheet">
	<link rel="stylesheet" href="plugins/code/build/css/intlTelInput.css">
	<link href="dist/css/fonts/Play-Bold.ttf" rel="stylesheet">
    <link href="dist/css/fonts/Play-Regular.ttf" rel="stylesheet">
    <link href="dist/css/fonts/Playcss2.css" rel="stylesheet">
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<base href="<%=config.url%>/">
</head>

<body>
	<div class="container-fluid">
        <div class="row about">   
             <div class="col-md-8 bgheart position-relative">
                 <div class="heart">
                     <h1>Heart Rate Monitor System</h1>
                    <p>Advanced technology makes it possible for you can get information about your
                        heart without interrupting your life.Continues heart monitoring is useful 
                        for capturing irregular heartbeats that happen infrequently-in some cases,
                        you may not even feel any symptom.Depending on your situation,your doctor
                        may recommend heart monitoring.
                    </p>
                </div>
                    <div class="row health">
                        <div class=" col- md-8 ">
                        <h3>A HEALTH CARE SYSTEM</h3>
                         <p>Through our hardware and software application,we're working to build a complete virtual
                             care system that makes healthcare providers smarter and more connected-digital clinics
                             that serve the need of patient better.
                         </p>
                    </div>
                 </div> 
             </div>
                <div class="col-md-4">
                    <div class="logo">
                     <img src="/images/vilpowerLogo.png">
                     </div>
                    <div class="form">    
                     <label for="eid">EmailId:</label><br>
                     <input type="text" id="eid" name="eid" value="vilpower@boodskap.io"class="name"><br>
                     <label for="pword">Password:</label><br>
                     <input type="Password" id="pword" name="pword" value="welcome123"class="password"><br><br>
                     <input type="checkbox" id="remember" name="remember" value="Me">
                     <label for="remember">Remember me</label><br>
                     <button type="button" class="btn btn-primary login-btn" onclick="gotoHome()">Sign me in</button>
					</div>
					<div class="click">
						Not a remember yet?<a href="#">click here</a>.<br> 
					</div>  
                    <div class="team">
                        <a href="#" class="text-warning textColor">Terms &amp; Conditions</a>
                       <span class="bar">|</span>
                        <a href="#" class="text-warning textColor">Privacy Policy</a>
                    </div>
                    <div class="boodskap"> 
                        <p class="power">
                        @ 2020 all rights reserved powered by <img src="/images/boodskap.jpg">
                    </p>
                    </div>
                </div>     
        </div>
    </div>

</body>

</html>

<script src="/js/login.js"></script> -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="Boodskap Inc.,">
	<link rel="icon" type="image/png" sizes="32x32" href="images/mrt-logo.svg">
	<title>My Web | Boodskap</title>
	<link href="dist/css/style.min.css" rel="stylesheet">
	<link href="css/main-style.css" rel="stylesheet">
	<link href="css/login.css" rel="stylesheet">
	<link rel="stylesheet" href="plugins/code/build/css/intlTelInput.css">
	<link href="dist/css/fonts/Play-Bold.ttf" rel="stylesheet">
    <link href="dist/css/fonts/Play-Regular.ttf" rel="stylesheet">
    <link href="dist/css/fonts/Playcss2.css" rel="stylesheet">
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<base href="<%=config.url%>/">
</head>

<body>
<input type="hidden" value="<%=basePath%>" id="BASE_PATH" />
<input type="hidden" value="<%=config.url%>" id="BASE_URL" />
<input type="hidden" id="API_URL" value="<%= config.appApiUrl %>" />
<section>
	<div id="blocks" style="position: fixed;width:100%;height: 100%;left:0px;z-index:0"></div>
	<div class="row no-gutters">
		<div class="col-lg-4 col-md-5 col-sm-12 offset-lg-4 offset-md-3" >
			<div class="card cardSection mt-lg-4 mt-md-4">
				<div class="card-body">
					<div class="text-center logo">
						<img src="images/bdskap-logo.png" alt="ndvr-logo">
					</div>
					<h1 style="text-align: center;margin-top: 15px;">Login</h1>

					<div class="loginHtml">
						<form class="m-t-40" autocomplete="off" action="javascript:void(0)" onsubmit="login()">

							<div class="form-group">
								<label for="emailId">Email</label>
									<input id="emailId" required="" type="email" class="form-control input-blue" placeholder=""
										   aria-label="Email" aria-describedby="basic-addon2" value="">
								<small class="emailId"></small>
							</div>

							<div class="form-group position-relative mb-2">
								<label for="password">Password</label>
									<input type="password" required="" id="password" class="form-control input-blue" placeholder=""
										   value=""
										   aria-label="Password" aria-describedby="basic-addon3">
									<span toggle="#password" class="login-pswd cursor-pointer fa fa-eye field-eye-icon toggle-password"> <span>Show / Hide</span></span>
								<small class="password"></small>
							</div>
							<label class="container text-muted"> Remember me
								<input type="checkbox">
								<span class="checkmark"></span>
								<span class="pull-right"><a href="javascript:void(0)" class="text-muted">Forgot Password?</a> </span>
							  </label>
							<button type="submit" class="mt-2 btn btn-block btn-lg btn-primary mb-3 " id="loginButton">Login</button>
							<p class="border-bottom mb-0"></p>
							<button type="button" class="btn btn-block btn-lg btn-secondary mt-3" id="createAccount">Create New Account</button>
						</form>
					</div>
					
				</div>
			</div>
			<p class="text-center mt-4" style="font-size: 12px">
				© <span class="currentYear">2020</span> All rights reserved. <br>
				<a href="https://boodskap.io"><img src="images/powered-by-boodskap.svg" height="25"></a>
			</p>
		</div>
	</div>
</section>

<script src="library/plugin/jquery/jquery-3.2.1.min.js"></script>
<script src="library/plugin/popper/popper.min.js"></script>
<script src="library/plugin/bootstrap/dist/js/bootstrap.js"></script>
<script src="plugins/code/build/js/intlTelInput.js"></script>
<script src="plugins/moment.js"></script>
<script src="plugins/sweetalert2.all.js"></script>
<script src="plugins/js.cookie.js"></script>

<script>
	var API_URL = $("#API_URL").val();
</script>
<script src="js/common.js"></script>
<script src="js/auth.js"></script>
</body>
</html>
