<div class="container-fluid" style="background: #f2f3f4;">
    <div class="row row-bottom">
        <div class="col-md-6 col-device">
            <p class="patient-txt">Manage Patients</p>
        </div>
        <div class="col-md-6 text-right">
            <span class="device-txt">Patients Management / </span>
            <span class="device-txt">Manage Patient</span>
        </div>
    </div>
    <div class="container-fluid total-div">
        <div class="row">
            <div class="col-md-6">
                <p class="total-patients">Total Patient : <span class="totalCount"></span></p>
            </div>
            <div class="col-md-6 text-right">
                <button type="button" class="btn add-patient-btn" data-toggle="modal" data-target="#patientModal"> <i class="fa fa-plus-square" aria-hidden="true"></i> Add Patient</button>
                <button class="patient-expand-btn" onclick="patientExpand()"><i class="fa fa-expand"></i></button>
                <button class="patient-repeat-btn"><i class="fa fa-repeat"></i></button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!-- <button type="button" class="btn add-patch-btn"> <i class="fa fa-plus-square" aria-hidden="true"></i> Add Patients</button>
                <button type="button" class="btn add-patch-btn"><i class="fa fa-refresh" aria-hidden="true"></i></button> -->
                <table id="managePatient" class="display table table-bordered responsive"></table>
            </div>
        </div>
    </div>
</div>






<!-- patients added modal -->
<div class="modal fade" id="patientModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content modal-div">
            <div class="modal-header">
                <h4 class="modal-title user-add-header text-left">Add Patient</h4>
                <button type="button" class="close" style="float: right;" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row ">
                    <div class="col-md-6">
                        <label for="usr" class="modal-txt">Name <span class="required-txt">&nbsp;*</span></label>
                        <input type="text" class="form-control" id="patientName">
                    </div>
                    <div class="col-md-6">
                        <label for="usr" class="modal-txt">Date of Birth <span class="required-txt">&nbsp;*</span></label><br>
                        <input type="text" class="form-control" id="datepicker" name="datepicker" class="dob"></p>
                    </div>
                </div>
                <div class="row patient-row-modal">
                    <div class="col-md-6">
                        <label for="usr" class="modal-txt">Gender</label>
                        <select class="form-control" id="selectGender"> 
                            <option value="Male">Male</option> 
                            <option value="Female">Female</option> 
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="usr" class="modal-txt">Mobile <span class="required-txt">&nbsp;* </span></label><br>
                        <input type="number" class="form-control" id="mobile">
                    </div>
                </div>
                <div class="row patient-row-modal">
                    <div class="col-md-12">
                        <label for="usr" class="modal-txt">Email</label><br>
                        <input type="text" class="form-control" id="email">
                    </div>
                </div>
                <div class="row patient-row-modal">
                    <div class="col-md-12">
                        <label for="usr" class="modal-txt">Address <span class="required-txt">&nbsp;*</span></label>
                        <textarea type="text" class="form-control" id="address"></textarea>
                    </div>
                </div>
                <div class="row patient-row-modal">
                    <div class="col-md-6">
                        <label for="usr" class="modal-txt">City <span class="required-txt">&nbsp;*</span></label>
                        <input type="text" class="form-control" id="city">
                    </div>
                    <div class="col-md-6">
                        <label for="usr" class="modal-txt">State <span class="required-txt">&nbsp;* </span></label>
                        <input type="text" class="form-control" id="state">
                    </div>
                </div>
                <div class="row patient-row-modal">
                    <div class="col-md-6">
                        <label for="usr" class="modal-txt">Country <span class="required-txt">&nbsp;* </span></label>
                        <input type="text" class="form-control" id="country">
                    </div>
                    <div class="col-md-6">
                        <label for="usr" class="modal-txt">Zip Code <span class="required-txt">&nbsp;* </span></label>
                        <input type="number" class="form-control" id="zipCode">
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn user-create" onclick="addPatient()">Create</button>
            </div>
        </div>

    </div>
</div>

<!-- Link modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content modal-div">
            <div class="modal-header">
                <h4 class="modal-title user-add-header text-center">Link Device</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <label for="usr" class="modal-txt">Device List</label>
                        <select class="form-control" id="devicelist"> 
                <!-- <option>Device1</option> 
                <option>Device2</option> 
                <option>Device3</option> 
                <option>Device4</option>  -->
                </select>
                    </div>
                </div>
                <!-- <div class="row link-modal-row">
                    <div class="col-md-12">
                        <label for="usr" class="modal-txt">Patients Id</label>
                        <input type="text" class="form-control" id="usr">
                    </div>
                </div> -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success link-btn" data-dismiss="modal" onclick=clicklinkdevice()>Link</button>
            </div>
        </div>

    </div>
</div>
<!-- unlink model  -->
<div class="modal fade" id="unModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content modal-div">
            <div class="modal-header">
                <h4 class="modal-title user-add-header text-center">Link Device</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <!-- <div class="row">
                    <div class="col-md-12">
                        <label for="usr" class="modal-txt">Device List</label>
                        <select class="form-control" id="devicelist"> 
                 
                </select>
                    </div>
                </div> -->
                <div class="row link-modal-row">
                    <div class="col-md-12">
                        <label for="usr" class="modal-txt">Device Id</label>
                        <input type="text" class="form-control" id="unlinkdevice">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success link-btn" data-dismiss="modal" onclick=clickUnlinkDevice()>Unlink</button>
            </div>
        </div>

    </div>
</div>
<!-- edited patients modal -->
<div class="modal fade" id="editModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content modal-div">
            <div class="modal-header">
                <h4 class="modal-title user-add-header text-center">Edit Patient</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row patient-row-modal">
                    <div class="col-md-6">
                        <label for="usr" class="modal-txt">Name</label>
                        <input type="text" class="form-control" id="patient_name" required>
                    </div>
                    <div class="col-md-6">
                        <label for="usr" class="modal-txt">Date of Birth</label><br>
                        <input type="text" class="form-control" id="datepicker1" name="datepicker" class="editAge">
                    </div>
                </div>
                <div class="row patient-row-modal">
                    <div class="col-md-6">
                        <label for="usr" class="modal-txt">Select</label>
                        <select class="form-control" id="editGender"> 
                            <option>Male</option> 
                            <option>Female</option> 
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="usr" class="modal-txt">Mobile</label>
                        <input type="number" class="form-control" id="editmobile" required>
                    </div>
                </div>
                <div class="row patient-row-modal">
                    <div class="col-md-12">
                        <label for="usr" class="modal-txt">Email</label>
                        <input type="text" class="form-control" id="editEmail" required>
                    </div>
                </div>
                <div class="row patient-row-modal">
                    <div class="col-md-12">
                        <label for="usr" class="modal-txt">Address</label>
                        <textarea type="text" class="form-control" id="editAddress"></textarea>
                    </div>
                </div>
                <div class="row patient-row-modal">
                    <div class="col-md-6">
                        <label for="usr" class="modal-txt">City</label>
                        <input type="text" class="form-control" id="editCity" required>
                    </div>
                    <div class="col-md-6">
                        <label for="usr" class="modal-txt">State</label>
                        <input type="text" class="form-control" id="editState">
                    </div>
                </div>
                <div class="row patient-row-modal">
                    <div class="col-md-6">
                        <label for="usr" class="modal-txt">Country</label>
                        <input type="text" class="form-control" id="editCountry">
                    </div>
                    <div class="col-md-6">
                        <label for="usr" class="modal-txt">Zip Code</label>
                        <input type="text" class="form-control" id="editZipCode">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success link-btn" data-dismiss="modal" onclick="addPatient()">Update</button>
            </div>
        </div>

    </div>
</div>
<script src="js/manage-patients.js"></script>
<script src="js/patients.js"></script>