<div class="container-fluid">
    <div class="container-fluid" style="background: #f2f3f4;">
        <div class="row row-bottom">
            <div class="col-md-6 col-device">
                <p class="patches-txt">Manage Patients</p>
            </div>
            <div class="col-md-6 text-right">
                <span class="device-txt">Patients Management / </span>
                <span class="device-txt">Manage Device</span>
            </div>
        </div>
        <div class="container-fluid" style="background-color: white;">
        <div class="row second-row">
            <div class="col-md-6">
                <p class="total-patches">Total Patients: <span>5</span></p>
            </div>
            <div class="col-md-6 text-right">
                <p><i class="fa fa-filter" aria-hidden="true"></i> &nbsp; <i class="icon-refresh"></i></p>
            </div>
        </div>
    </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-12" style="float:right;">
                <button type="button" class="btn add-patch-btn"> <i class="fa fa-plus-square" aria-hidden="true"></i> Add Patients</button>
                <button type="button" class="btn add-patch-btn"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                <table id="managePatient" class="display table table-bordered responsive" width="100%"></table>
            </div>
        </div>
        </div>
    </div>
    
    <!-- <link ref="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css"> -->
    <script src="/js/skin-patches.js"></script>
    