<link href="css/patients-profile.css" rel="stylesheet">

<div class="container-fluid">
    <div class="row head" id="full_view">
        <div class="col-md-6 head-title1">
            <h3>All Patient's Profile</h3>
        </div>
        <div class="col-md-6 head-title2">
            <p><b>All Patient's </b> / Patient's Profile</p>
        </div>
    </div>
    <div class="card">
        <div class="row head-1">
            <div class="col-md-6 head-title3">
                <label>Total Patients:</label>
                <div id="reportrange" class="calender">
                    <i class="fa fa-calendar"></i>&nbsp;
                    <span></span> <i class="fa fa-caret-down"></i>
                </div>
            </div>
            <div class="col-md-6 head-title4">
                <header>
                    <button class="button5" onclick="myFunction()"><i class="fa fa-filter"></i><span class="tooltip">Filter</span></button>
                    <button class="button7 " onclick="openFullscreen()"><i class="fa fa-expand"></i><span class="tooltip">Expand</span></button>
                    <button class="button8" id="refresh" onClick="window.location.reload()"><i class="fa fa-repeat"></i><span class="tooltip">Reload</span></button>
                </header>
            </div>

        </div>
        <hr>
        <div class="row cont" id="contt">
            <div class="col-lg-12 col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <i class="fa fa-filter icofont-4">Filter</i>

                    </div>
                    <div class="col-md-6 close">
                        <button class="button6" id="btn-6" onclick="hideFunction()"><i class="fa fa-close icofont-5"></i><span class="tooltip">Close</span></button>
                    </div>
                </div>
                <div class="row filters">
                    <div class="col-lg-2">
                        <select class="select-box-1" id="filter_gender">
                <option>All Gender</option>
                <option id="male">Male</option>
                <option id="female">Female</option>
            </select>
                    </div>
                    <div class="col-lg-2">


                    </div>
                    <div class="col-lg-2">
                        <select class="select-box-2" id="filter_status">
                <option>All Status</option>
                <option id="low">Low</option>
                <option id="normal">Normal</option>
                <option id="high">High</option>
            </select>
                    </div>
                    <div class="col-lg-2">
                        <select class="select-box-3" id="filter_activity">
                <option>All Activities</option>
                <option>walking</option>
                <option>running</option>
                 <option>sleeping</option>
                </select>
                    </div>
                    <div class="col-lg-2">
                        <button class="button4" type="reset"> <i class="fa fa-close icofont-6">Clear</i></button>
                    </div>

                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row table-row">
                <div class="col-md-12 box">
                    <table id="patients_profile" class="table table-bordered table-responsive no-wrap" width="100%"></table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="js/patientstatus.js"></script>
<script src="/js/patients-profile.js"></script>
<script type="text/javascript"></script>