<div class="container-fluid">
    <div class="row head">
        <div class="col-md-6 head-title1">
            <h3>All Patient's Profile</h3>
        </div>
        <div class="col-md-6 head-title2">
            <p><b>All Patient's </b> / Patient's Profile</p>
        </div>
    </div>
    <div class="card">
        <div class="row head-1">
            <div class="col-md-6 head-title3">
                <header><label>Total Patients:</label></header>
                <div id="reportrange" class="calendar" style="cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 60%">
                    <i class="fa fa-calendar"></i>&nbsp;
                    <span></span> <i class="fa fa-caret-down"></i>
                </div>
            </div>
            <div class="col-md-6 head-title4">
                <header>
                    <button class="button5" onclick="myFunction()"><i class="fa fa-filter"></i></button>
                    <button class="button7"><i class="fa fa-expand"></i></button>
                    <button class="button8"><i class="fa fa-repeat"></i></button>
                </header>
            </div>
        </div>
        <hr>
        <div class="row cont" id="contt">
            <div class="col-lg-12 col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <i class="fa fa-filter icofont-4">Filter</i>

                    </div>
                    <div class="col-md-6 close">
                        <button class="button6" id="btn-6" onclick="hideFunction()"><i class="fa fa-close icofont-5"></i></button>

                    </div>
                </div>

                <select class="select-box-1">
                <option>All Gender</option>
                <option>Male</option>
                <option>Female</option>
            </select>
                <input type="text" class="js-range-slider" name="my_range" value="" data-type="double" data-min="0" data-max="1000" data-from="200" data-to="500" data-grid="true" />
                <select class="select-box-2">
                <option>All Status</option>
                <option>Low</option>
                <option>Normal</option>
                <option>High</option>
            </select>
                <select class="select-box-3">
                <option>All Activities</option>
                <option>walking</option>
                <option>running</option>
                 <option>sleeping</option>
                </select>
                <button class="button4"> <i class="fa fa-close icofont-6">Clear</i></button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table id="patients_profile" class="display table table-bordered responsive" width="100%"></table>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<script src="../heart_beat/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/js/patients-profile.js"></script>
<script type="text/javascript"></script>
<!-- <script src="../heart_beat/heart.js" type="text/javascript"></script> -->