
.content{
    border: solid 1px #f0f0f0;
    border-top: solid 2px rgb(175, 62, 175);
    margin: 20px;
    background-color:#fff;
    border-radius: 9px;
    
    /* border-color: #f0f0f0; */


}    
.overview{
    
    margin:10px 10px 3px 0;

} 
.title{
    font-size: 14px;
}

.pie{
   
    border-top:solid 3px orange;
    border-left: solid 1px #f0f0f0;
    border-right: solid 1px #f0f0f0;
    border-bottom:solid 1px #f0f0f0 ;
    border-radius: 9px;
    padding-right: 20px;
    margin-bottom: 120px;
    

}
/* col-lg-6{
    max-width: 45%;
} */
.abnormal{
    border-top: solid 1px rgb(246, 246, 246);
    margin-top: 10px;
}
.patientstatus{
    /* padding-top: 10px; */
    margin-top: 10px;
    margin-left: 20px;
    size: 13px;
}
.statusdetail{
    padding-inline-start:1em;
    
}

.name{
    color: rgb(52, 108, 131);
    font-weight:500;
}
.fa-eye{
    color:  rgb(52, 108, 131);
}
li{
    display:contents;
    margin-left: 60px;
    font-size: 10px;
    color: rgb(100, 99, 99);

}
.action{
    border: 0px;
    color:  rgb(122, 122, 122);
}
.rate{
    font-weight: bolder;

    
}
.parameter{
    color: rgb(189, 14, 14);
    font-size: 12px;
    /* font-weight: bolder; */
}
.time{
    font-size: 11px;
    padding: 13px;
    color: rgb(165, 167, 168);
}
.empty{
    /* margin-bottom: 50px; */
    color: rgb(247, 12, 12);
    font-size: 23px;
    font-weight: lighter;
    padding-left: 30px;
}
.data{
    display: flex;
    
}
.chart1{
    margin-top: auto;
    
}
.chart3{
    margin-top: auto;
}

#chart{
    width:300px;
    height:300px;
    background-color: white;
    padding: 0px;
    margin: 0px;
    /* margin-left: -18px; */
   /* padding-left:30px ; */
   /* padding-bottom: 70px; */
   /* color: ; */

}

.icon1{
    padding-left: 20px;
    height: 10px;
    size: 10px;
    /* margin-top: 10px; */
}
.icon2{
    padding-right: 25px;
    /* margin-top: 10px; */
}

.dashboard-head{
    padding-left: 10px;
    font-size: 13px;
}

#age{
    margin:0;
    height: 300px;
    width: 400px;
}
.btn1{
    border: none;cursor: pointer;
    background-color: rgb(243, 241, 241);
    border-radius: 100%;
    height: 21px;
    width: 17px;
}
.btn1 i{
    font-size: 10px;
    right: 30px;
    position: absolute;
    top: 12px;
}
.refresh-btn{
    border: none;cursor: pointer;
    background-color: rgb(243, 241, 241);
    border-radius: 100%;
    height: 21px;
    width: 17px;color: black;
}
.refresh-btn i{
    font-size: 10px;
    right: 15px;
    position: absolute;
    top: 12px;
}
.refresh-btn:focus{
    outline: none;
}
.ref-btn{
    border: none;cursor: pointer;
    background-color: rgb(243, 241, 241);
    border-radius: 100%;
    height: 17px;
    width: 17px;color: black;
}
.ref-btn i{
    font-size: 10px;
    right: 29px;
    position: absolute;
    top: 11px;
}
.ref-btn:focus{
    outline: none;
}
.button2{
    border: none;
    background-color: black;
    border-radius: 100%;
    color: white;
    height: 18px;
    width: 17px;
    }
.button2 i { 
    font-size: 10px;
    right: 4px;
    position: absolute;
    top: 12px;
    }
.analysis{
    padding-left: 50px;
}

.chart2{
    border: solid 1px #f0f0f0;
    border-top: solid 3px #d63a34;
    /* margin-right: 25px; */
    /* width: 100%; */
    /* height: 95%; */
    margin-left: 10px;
    border-radius: 9px;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

/* @media (min-width: 992px) */
/* .col-lg-6 {
    flex: 0 0 50%;
    max-width: 49% !important;
} */
.calendar{
    margin-top: 15px;
    padding-left: 21px;
    
 } 
 

#datapick{
    background: #fff;
     cursor: pointer;
      padding: 5px 10px;
       border: 1px solid#f0f0f0;;
        width: 50%
}
.dateformat{
    border: solid 1px#f0f0f0;
    /* max-width:35%; */
    padding: 5px 10px;
    display: inline-block;
    
}
/* .stat{
    padding-left: 190px;
    font-weight: bolder;
    font-size: 13px;
} */
.icons{
    position: relative;
    top: -5px;right: -24px;
}
.icons2{
    padding-right: 15px;
}
#totalpatients{
    width: 80%;
    height: 280px;
    padding-left: 30px;
    /* padding-top: 30px; */
    /* margin-top: 50px; */
    /* margin-top: -392px; */
}
 .state{
    font-weight:bolder;
    font-size:13px !important;font-weight: 700;
    padding-left: 20px;
    margin-top: 5px;
}
p{
    padding-left: 20px;
    font-weight:100;
    color:#aaa8a8;
}
.barchart{
    border:1px solid lightgray;padding-left: 0; 
    border-top:  solid 3px rgb(128, 207, 238);
    border-radius: 9px;
    /* max-width: 30%; */
    box-sizing: border-box;
    
}
.linechart{
    
    width: 100%;
    height: 280px;
    padding-top:13px ;
    padding-right:4px ;
    padding-left: 5px;
}
#heartchart{
    width:100%;
    /* margin:0 auto; */
    height:285px;
    /* margin-top: 30px; */
    /* padding-left: 20px; */
    /* text-align: center; */
   
}

.subtopic{
    font-weight: bold;
    size: 10px;
    color: rgb(125, 122, 122);
}
p{
  size: 10px;
}
#barchart1{
    width: 90%;
    height: 270px;

}
#barchart2{
    width: 90%;
    height: 270px;
    
}
.statistics1{
    font-weight:500;
    color: rgb(158, 34, 34);
    padding-left: 45px;
    border-radius: 5px;
    margin-top: 20px;
    size: 13px;

}
.statistics2{
    font-weight:500;
    color:rgb(56, 141, 175) ;
    padding-left: 55px;
    padding-right: 24px;
   size: 13px;
   margin-top: 20px;
    
}
.list{
    border: solid 1px #f0f0f0;;
    
    /* margin-left: 10px;  */
    border-radius: 9px;
    /* margin-right: 20px; */
    overflow-y: auto;
    overflow-x: hidden;
}
.listing{
    size: 13px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
}



.patientstat{
    margin-top: 11px;
    
}
.patient{
    font-weight: bolder;
    font-size: 12px;font-weight: 700;
    margin-top: -23px;
    margin-left: 1px;
    margin-bottom: 1rem;
}

.profile{
    border:0px;
    /* margin-top: 25px; */
    padding-left: 20px;
    padding-top: 14px;
}
.btn1:focus,.button2:focus {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    /* border-bottom: 1px dotted black; */
    /* If you want dots under the hoverable text */
}
.tooltip {
    visibility: hidden;
    width: 86px;
    background-color: rgb(114, 114, 114);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 90%;
    margin-left: -60px;
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}


/* Tooltip arrow */

.tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.btn1:hover .tooltip,
.button2:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
/* div.scroll{
    margin:4px,4px;
    padding: 4px;
    background-color:green;
    width: 500px;
    height: 110px;
    overflow-x:hidden;
    overflow-y: auto;
    text-align: justify;
} */