.bgheart{
    background-image: url("../images/heart.jpg");
    height: 600px;
    width: 700px;
    font-size: 12px;
    padding-top: 250px;
    color: snow;
}

.login{
    margin-right: 10%;
}
.name{
    border: 1px solid #f2f3f4;
    width: 252px;
    height: 33px;
}
.logo img{
    width: 110px;
    margin-top: 100px;
    margin-left: 147px;
}
.form{
    margin-top: 10px;
    margin-left: 90px;
    border: none;
    
}
.click{
    margin-top: 20px;
    margin-left: 90px;
}
.team{
    font-size: 10px;
    margin-top: 40px;
    margin-left: 90px;
}
.bar{
 color:#B3A6C4 ;  
 font-size: 10px; 
}
#eid{
    width: 250px;
    height: 35px;
    font-size: small;
}
#pword{
    width: 250px;
    height: 35px;
    font-size: small;
}
.boodskap img{
    height: 40px;
    width: 40px;
}
.boodskap{
    font-size: 10px;
    margin-top: 10px;
    margin-left: 90px;
}
.login-btn{
    background-color:purple;
    border:none;
    width: 250px;
}
.health{
    background-color:purple;
    width: 55.7rem;
    height: 130px;
    color:snow;
    margin-top: 135px;
    font-size: 10px;
}
.health h3{
    margin-left: 40px;
    margin-top: 30px;
}
.health p{
    margin-left: 40px;
}
.heart p,h1{
    margin-left: 40px;
}

.health{
    position: absolute;
    bottom:0;
   width: 100%;
}.heart{
    
    position: absolute;
    top:35%;
}
@media screen and (max-width:768px) {
    .bgheart{
        display: none;
    }       
}
@media screen and (max-width:768px) {
    .form{
     margin-left: 50px;
    }
}
