.bgheart{
    background-image: url("../images/heart.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 87.6vh;
    font-size: 12px;
    padding-top: 250px;
    color: snow;
}
.login{
    margin-right: 10%;
}
#pwdLabel{
    margin-top: 10px;
}
.name{
    border: 2px solid lightgray;
    width: 90%;font-size: 16px!important;padding-left: 15px;
    height: 40px;
    /* margin-top: 8px; */
    border-radius: 5px;background-color: white;
}
#remember{
    cursor: pointer;color: lightgray;
    margin-top: 17px;
}
#remberId{
   cursor: pointer !important;
   margin-top:10px;
   margin-left: 6px;
    font-size: 13px;
    font-weight: 600;
}
.lab{
    margin: 0;
}
.logo{
    
    text-align: center;
}
.logo img{
    width: 110px;
    margin-top: 140px;
    align-items: center;
}
.form {
    margin-top: 35px;
    /* text-align: center; */
    border: none;
    margin-left: 40px;
}
.click{
    margin: 15px 0 0 46px;
    
}
.login-txt{
    font-size: 13px;
    color: black!important;
    font-weight: 500;
}
.atag{
    color:#861182;
}
.atag:hover,.textColor:hover{
    color:#861182;
}
.team{
    font-size: 10px;
    margin-top: 40px;
    text-align: center;

}
.bar{
 color:#B3A6C4 ;  
 font-size: 10px; 
}
#eid{
    width: 250px;
    height: 35px;
    font-size: small;
}
#pword{
    width: 250px;
    height: 35px;
    font-size: small;
}
.boodskap img{
    height: 30px;
    width: 30px;
}
.boodskap{
    font-size: 10px;
    margin-top: 10px;
    text-align: center;
}
.login-btn{
    background-color: #861182;
    border: none;font-size: 14px;
    font-weight: 500;
    width: 90%;
    height: 38px;
    color: white;
}
 .textColor{
     color:#861182!important;font-size: 12px;
     font-weight: 600;
 }
.health{
    background-color:#861182;
    color:snow;
    font-size: 10px;
}
.health h3,p{
    margin-left: 20px;
    margin-top: 25px;
}
.health {
    width: 100%;
}
.heart p,h1{
    margin: 20px;
    
}
 @media screen and (max-width:768px) {
    .bgheart{
        display: none;
    }       
}
@media screen and (max-width:768px) {
    .form{
     
    }
}
