.patient-expand-btn {
    border-radius: 100%;
    border: none;cursor: pointer;
}
.patient-txt{
    font-size: 13px;
    margin-bottom: 10px;
    padding-left: 0;
    color: black;
}
.row-bottom {
    border-bottom: 2px solid blueviolet;
    margin: 0;
    margin-top: 15px;
}
.total-patients{
    font-size: 11px;color: black;
    margin: 11px -22px;padding-left: 6px;
}
.patient-repeat-btn {
    background-color: black;
    border-radius: 100%;
    border: none;
    color: white;
}
#managePatient_filter{
    font-size: 11px;
}
#managePatient_filter input{
    background-color: white !important;border:1px solid lightgrey!important;
    }
#managePatient_length select{
  border:1px solid lightgrey!important;
  background-color: white !important;
}
#managePatient_info{
    font-size: 12px!important;
}
.patient-atag{
    height: 25px;
    font-size: 11px;
    /* width: 80%; */
    padding-top: 3px;
    background-color: #861182;
    color: white;
}
#unLink,#unLink:hover{
    color: #861182;text-decoration: underline;
}
.patient-atag:hover{
    background-color:  #861182;
}
.modal-div{
    /* top:220px; */
}
.add-patient-btn{
    background-color: #f2f3f4;
    height: 30px;
    font-size: 11px;
    margin: 5px;
}
.user-add-header{
    font-size: 14px!important;
    color: black !important;font-weight: 600;
}
.patient-row-modal{
    margin-bottom: 15px !important;
}
.required-txt{
    color:red;font-size: 16px;font-weight: 600;
}
.modal-txt{
    font-size: 12px;
}
.link-btn,.user-create{
    background-color: #861182;border:none;color:white;
}
.link-btn:hover,.user-create:hover{
    background-color: #861182;border:none;color:white;
}
#zipCode{
    font-size: 14px;
}
.link-modal-row{
    margin-top:20px;margin-bottom: 20px;
}
.name-field,.city-field,.state-field,.zip-field,.addr-field,.country-field,.email-field{
    color:red;font-size:12px;display:none;
}
.link-tag{
    color:blue;text-decoration: underline;
}
#managePatient_wrapper{
    background-color: white !important;
}
.total-div{
    background-color: white;border-bottom: 1px solid lightgrey;
}
.dataTables_length {
    margin-top: 10px;
    margin-left: 14px!important;
}
.dataTables_filter input, .dataTables_filter input:focus, .dataTables_length select, .dataTables_length select:focus {
    background-image: none !important;
}
.dataTables_info {
    padding-top: 0.85em;
    margin: 0 0 15px 14px !important;
}
.dataTables_paginate {
    margin-right: 10px !important;
}
.dataTables_filter {
    text-align: right;
    margin-right: 10px!important;
}
#managePatient{
    width: 98% !important;
    margin-left:13px!important;
}
#patientName,#datepicker,#selectGender,#mobile,#email,#address,#city,#state,#country,#zipCode{
    font-size: 11px;
}
#managePatient thead tr th{
    font-size: 12px;
    font-weight: 600;
}
#managePatient tbody tr {
    font-size: 12px;
}
.patient-repeat-btn i,.patient-expand-btn i{
    font-size: 11px;cursor:pointer;
}
.calender-icon,.edit-calender-icon
    {
        position: absolute;right: 22px;top: 37px;cursor: pointer;
    }