.card {
    border-top: 2px solid rgb(146, 4, 139);
    border-radius: 3px;
}

.head-title2 {
    text-align: right;
}

.head-title4 {
    text-align: right;
}

.head-1 {
    margin: 15px 0 0 0;
}

.icofont-5 {
    color: black;
}

.button4 {
    border: none;
    border-radius: 3px;
}

.button5 {
    border: none;
    border-radius: 100%;
}

.button6 {
    text-align: right;
    border-radius: 100%;
    border: none;
    background: none;
}

.cont {
    display: none;
    border: 1px solid rgb(207, 205, 205);
    margin: 0 10px 0 10px;
    background-color: #eff2f5;
}

.button7 {
    border-radius: 100%;
    border: none;
}

.button8 {
    background-color: black;
    border-radius: 100%;
    border: none;
    color: white;
}

.close {
    text-align: right;
}

.select-box-1 {
    border: 1px solid rgb(207, 205, 205);
    width: 240px;
    margin: 20px;
    height: 30px;
}

.select-box-2 {
    border: 1px solid rgb(207, 205, 205);
    width: 240px;
    margin: 20px;
    height: 30px;
}

.select-box-3 {
    border: 1px solid rgb(207, 205, 205);
    width: 240px;
    margin: 20px;
    height: 30px;
}


/* button5 container */

.button5,
.button6,
.button7,
.button8 {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
    /* If you want dots under the hoverable text */
}


/* button5 text */

.tooltip {
    visibility: hidden;
    width: 100px;
    background-color: rgb(114, 114, 114);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}


/* Tooltip arrow */

.tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}


/* Show the button5 text when you mouse over the button5 container */

.button5:hover .tooltip,
.button6:hover .tooltip,
.button7:hover .tooltip,
.button8:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

input {
    box-shadow: 0;
    outline: 0;
}

.age-slider {
    width: 300px;
    text-align: center;
    position: relative;
    height: 6em;
}

.age-slider svg,
.age-slider input[type=range] {
    position: absolute;
    left: 0;
    bottom: 0;
}

input[type=number] {
    border: 1px solid #ddd;
    text-align: center;
    font-size: 1.6em;
    -moz-appearance: textfield;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number]:invalid,
input[type=number]:out-of-range {
    border: 2px solid #e60023;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgb(228, 18, 18);
}

input[type=range]:focus::-ms-fill-lower {
    background: rgb(228, 18, 18);
}

input[type=range]:focus::-ms-fill-upper {
    background: rgb(228, 18, 18);
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: flat;
    background: rgb(228, 18, 18);
    border-radius: 1px;
    box-shadow: none;
    border: 0;
}

input[type=range]::-webkit-slider-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid rgb(228, 18, 18);
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #a1d0ff;
    cursor: flat;
    -webkit-appearance: none;
    margin-top: -7px;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: flat;
    background: rgb(228, 18, 18);
    border-radius: 1px;
    box-shadow: none;
    border: 0;
}

input[type=range]::-moz-range-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid rgb(228, 18, 18);
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: rgb(228, 18, 18);
    cursor: flat;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: flat;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower,
input[type=range]::-ms-fill-upper {
    background: rgb(228, 18, 18);
    border-radius: 1px;
    box-shadow: none;
    border: 0;
}

input[type=range]::-ms-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid rgb(228, 18, 18);
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #a1d0ff;
    cursor: flat;
}
.eye-icon{
    cursor: pointer;color:blue;
}