.card {
    border-top: 2px solid rgb(146, 4, 139);
    border-radius: 3px;
}

.head-title2 {
    text-align: right;
}

.head-title4 {
    text-align: right;
}

.head-1 {
    margin: 15px 0 0 0;
}

.icofont-5 {
    color: black;
}

.button4 {
    border: none;
    border-radius: 3px;
}

.button5 {
    border: none;
    border-radius: 100%;
}

.button6 {
    text-align: right;
    border-radius: 100%;
    border: none;
    background: none;
}

.cont {
    display: none;
    border: 1px solid rgb(207, 205, 205);
    margin: 0 10px 0 10px;
    background-color: #eff2f5;
}

.button7 {
    border-radius: 100%;
    border: none;
}

.button8 {
    background-color: black;
    border-radius: 100%;
    border: none;
    color: white;
}

.close {
    text-align: right;
}

.select-box-1 {
    border: 1px solid rgb(207, 205, 205);
    width: 240px;
    margin: 20px;
    height: 30px;
}

.select-box-2 {
    border: 1px solid rgb(207, 205, 205);
    width: 240px;
    margin: 20px;
    height: 30px;
}

.select-box-3 {
    border: 1px solid rgb(207, 205, 205);
    width: 240px;
    margin: 20px;
    height: 30px;
}


/* 
.input-btn {
     border: 1px solid #f2f3f4;
    border-radius: 3px;
}

.entries-txt {
    font-size: 12px;
    margin-left: 11px; 


}
#showEntries {
    height: 25px;
    color: black;
    padding-top: 1px;
    font-size: 12px;
    border: 1px solid lightgrey;
    background-color: lightgrey;
} */