.device-txt{
    color:black;font-size:12px;
}
.patches-txt{
    font-size: 13px;
    margin-bottom: 7px;
}
.row-bottom{
    border-bottom:2px solid blueviolet;
    margin: 10px auto;
}
.col-device{
    padding: 0 0;
}
.srch-txt{
    font-size: 12px;
}
.total-patches{
    font-size: 12px;    margin: 5px 2px;

}
.second-row{
    /* margin:7px 0 0 0; */
}
.add-patch-btn{
    background-color: #f2f3f4;
    font-size: 11px;
    height: 27px;
    padding-top: 4px;
}
.input-btn{
    border: 1px solid #f2f3f4;
    border-radius: 3px;
}
.entries-txt{
    font-size: 12px;
    /* margin-left: 11px; */
}
#showEntries{
    height: 25px;
    color: black;
    padding-top: 1px;
    font-size: 12px;
    border: 1px solid lightgrey;
    background-color: lightgrey;
}