.device-txt{
    color:black;font-size:12px;
}
.patches-txt{
    font-size: 14px;
    margin-bottom: 15px;
    padding-left: 0;
    color: black;
}
.row-bottom{
    border-bottom:3px solid blueviolet;
    margin: 0;
    margin-top: 15px;
}
.arrow-icon{
    transform: rotate(125deg);
}
.icon-div{
    background-color: lightgray;height: 35px;width:20px;float:right;
}
.col-device{
    padding: 0 0;
}
.total-patches{
    font-size: 13px;
    color: black;
    margin: 11px -22px;
    padding-left: 0;
}
.patches-total-div{
    background-color: white;
    border-bottom: 1px solid lightgrey;
}
.second-row{
    /* margin:7px 0 0 0; */
}
.add-patch-btn,.refresh-btn{
    background-color: lightgray;
}
.srch-txt{
    font-size: 12px;
}
.second-row{
    /* margin:7px 0 0 0; */
}
.add-patch-btn{
    background-color: #f2f3f4;
    font-size: 11px;
    height: 27px;
    padding-top: 4px;
}
.input-btn{
    border: 1px solid lightgrey;
    border: 1px solid #f2f3f4;
    border-radius: 3px;
}
.entries-txt{
    font-size: 12px;
    margin-left: 11px;
    /* margin-left: 11px; */
}
#showEntries{
    height: 25px;
    color: black;
    padding-top: 1px;
    font-size: 12px;
    border: 1px solid lightgrey;
    background-color: lightgrey;
}
#example_filter input{
background-color: white !important;border:1px solid lightgrey!important;
}
#example_length select{
    border:1px solid lightgrey!important;
    background-color: white !important;
}
.icon-table{
    font-size: 16px;cursor:pointer;
}
.expand-btn {
    border-radius: 100%;margin-top: 10px;
    border: none;cursor: pointer;
}

.repeat-btn {
    background-color: black;
    border-radius: 100%;
    border: none;
    color: white;
}
.dataTables_length {
    margin-top: 10px;
    margin-left: 10px!important;
}
.dataTables_filter input, .dataTables_filter input:focus, .dataTables_length select, .dataTables_length select:focus {
    background-image: none !important;
}
.dataTables_wrapper{
    background-color: white;
}
#skin_patches_length select {
    border: 1px solid lightgrey!important;
    background-color: white !important;
}
#skin_patches_filter input {
    background-color: white !important;
    border: 1px solid lightgrey!important;
}