


/* Dashboard */
.body-content{
    background-color: #fff;
    border-top: 2px solid #953a93;
  
    border-radius: 5px;
    margin: 10px 15px;
}

.body-content .section-title{
  margin-top:10px
}
.patientname{
    font-size: 10px;
    color: #7c7c7f;
    font-weight: 600;
    margin-bottom: 0;
}
.icofont1{
font-size: 10px;
}

.body-content .section-title .user-action ul li{
    display: inline-block;
    list-style-type: none;
    margin-left: 10px;
}

.body-content .section-title .user-action ul li .live-btn{
    background-color: #00adad;
    color: #fff;
    border: none;
    display: inline-block;
    padding: 3px 10px;
    border-radius: 3px;
}
.body-content .section-title .user-action ul li .round-btns{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    border: none;
}
.body-content .section-title .user-action ul li .max-btn{
    background-color: #f2f3f4;
}
.body-content .section-title .user-action ul li .refresh-btn{
    background-color: #3e3a3c;
    color: #fff;
}
.body-content .section-title .user-action ul li button:focus{
    outline: none;
    box-shadow: none;
}




/* Patient's Profile */

/* .sub-header{
    /* padding: 10px 0 0px; */
    /* margin-top:10px; */
/* } */ 
.sub-header .navbar-brand{
    text-transform: capitalize;
    font-weight: 500;
    padding: 0;
}
.sub-header .breadcrumb {
    background: none;
    padding-top: 0px;
    margin-bottom: 0;
}
.sub-header .breadcrumb .breadcrumb-item{
    text-transform: capitalize;
}
.sub-header .breadcrumb .breadcrumb-item a{
    color: #000;
    text-decoration: none;
}
.myprofile{
    color: black;
   background-color:  #cfcfd6;
    border-bottom: 1px solid black;
    height:35px;
    padding: 10px 8px;
    

}

#date-field{
    cursor: pointer;
}
#date-field:focus{
    outline: none;
    box-shadow: none;
}
.dateformat{
    border: solid 1px rgb(168, 167, 167);
    margin-top: 10px;
 }

.filter-section{
    /* border:1px solid #efefef; */
    /* margin-top: 15px; */
    /* margin-bottom: 30px; */
}
.filter-section h3{
    font-size: 16px;
    color: #777b7f;
    font-weight: 600;
}
.filter-section .form-control:focus{
    outline: none;
    box-shadow: none;
}
.filter-section .clear-btn{
    padding: 7px 15px;
    background-color: #f2f3f4;
    border: none;
    border-radius: 3px;    
    font-size: 16px;
}
.filter-section .clear-btn:focus{
    outline: none;
}
.user-action-part .show-list select{
    border: 1px solid #ced4da;
    padding: .375rem .75rem;
    color: #495057;
    border-radius: .25rem;
}
.user-action-part .show-list span{
    color: #b8a6a5;
    margin-left: 10px;
}
.user-action-part .search-box{
    border: 1px solid #ced4da;
    padding: .375rem .75rem;
    color: #495057;
    border-radius: .25rem;
}
.user-action-part .search-box:focus{
    outline: none;
    box-shadow: none;
}

.user-data-table .table{
    border:1px solid #edeff2;
}
.user-data-table .table th{
    font-weight: 600;
    color: #6b8391;  
    font-size: 14px;  
}
.user-data-table .table td{
    font-size: 0px;
}
.p{
    
}
/* Profile-Section */
.user-profile-section{
    border:1px solid #efefef;
    padding: 10px;
}
.user-profile-section .user-profile{
    border:1px solid #efefef;
    /* padding: 15px; */
    text-align: center;
}
.user-profile-section .user-profile ul li{
    list-style-type: none;
}
.name{
    font-size: 18px;
    margin-top: 10px;
  
}
.user-info{
    text-align: center  ;
}
.user-profile-section .user-profile ul li p{
    margin-bottom: 10px;
    color: #b8a6a5;
    font-size: 14px;
}
.user-profile-section .user-profile ul li p span{
    color: #000;
}
.user-profile{
    margin-top: 0px;
}

.user-profile-section .chart-section{
    min-height: 250px;
    border:1px solid #efefef;
    padding: 15px;
    margin-bottom: 30px;
}
.user{
    margin-bottom:100px;
}
