.body-content{
    background-color: #fff;
    border-top: 2px solid #953a93;
   border-radius: 5px;
    margin: 5px 15px;
}
 .section-title{
  margin-bottom: -10px;
}
.patientname{
    font-size: 10px;
    color: #7c7c7f;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 7px;
}
.name{
    color: #000;

}
.icofont1{
font-size: 5px;
}
.active {
   border-right: none;
}
 .buton{
    display: inline-block;
    list-style-type: none;
    margin-left: 10px;
   }
 .round-btns{
    width: 20px;
    height:20px;
    border-radius: 50%;
    line-height: 15px;
   border: none;
}
.heartimg{
height: 30px;
width: 40px;

}
.icofont{
margin-top: 0px;
}
.max-btn{
    font-size: 10px;
}
 .refresh-btn{
    background-color: #3e3a3c;
    color: #fff;
    font-size: 10px;
    margin-top: 5px;
}
.navbar-brand{
   
    font-weight: 500;
    padding: 0;
}
.headname{
font-size: 10px;

}
.calender {
    background: #fff;
    cursor: pointer;
    padding: 1.6px 10px;    
    border: 1px solid #ccc;
    max-width: 100%;
    height: 25px;
    font-size: 12px;
    border-radius: 2px;
    
}
.head-title3{
    color: gray;

}
.level{
margin-bottom: 0px;
font-size:10px;
}
.myprofile{
   
    color: black;
   background-color: #f6f6f6;
    border-bottom: 1px solid #cccccc;
    height:35px;
    padding: 5px 8px;
   
    }
    .profilehead{
     font-size: 10px;
     font-weight: bold;
    }
   .profile-name{
font-size: 10px;
    }
    .profile-status{
font-size: 7px;
    }
    .running{
margin-top: 15px;
font-size: 8px;
color: #000;

    }
    .BPM{
font-size: 7px;
color: red;
    }
    .rebort-time{
margin-left: 2px;
    }
    .profile-date{
    font-size: 10px;
    color:gray;
    }
    .date{
color: #000;
    }

.filter-section{
    margin-bottom:0px;
   margin-bottom: 8px;
}

.filter-section h3{
    font-size: 16px;
    color: #777b7f;
    font-weight: 600;
}
.filter-section .form-control:focus{
    outline: none;
    box-shadow: none;
}
.sts-low,.sts-normal,.sts-high{
    border-radius: 5px;
}
 .clear-btn:focus{
    padding: -2px;
    background-color: #f2f3f4;
    border: none;
    border-radius: 3px;    
    font-size: 11px;
    height: 20px;
    outline: none;
}
.user-action-part .show-list select{
    border: 1px solid #ced4da;
   color: #495057;
    border-radius: .25rem;
}
.user-action-part .show-list span{
    color: #b8a6a5;
    margin-left: 10px;
}
.user-action-part .search-box{
    border: 1px solid #ced4da;
    color: #495057;
    border-radius: .25rem;
}
.user-data-table .table{
    border:1px solid #edeff2;
}
.user-data-table .table th{
    font-weight: 600;
    color: #6b8391;  
    font-size: 14px;  
}
.user-data-table .table td{
    font-size: 0px;
}
.dataTables_wrapper {
    padding-top: 0 !important;
}  
.dataTables_length select {
    border: 1px solid rgb(177, 176, 176);
}
.user-profile-section{
    border:1px solid #efefef;
    padding: 10px;
}
.user-profile{
    border:1px solid #efefef;
    /* padding: 15px; */
    text-align: center;
    height: 50%;
    color: #999999;
}
.user-profile-section .user-profile ul li{
    list-style-type: none;
}
.name{
    font-size: 10px;
    margin-top: 10px;
    }
.number{
margin-top:12px;
margin-bottom: 3px;
color: #6c7a89;
font-size: 18px;
font-weight: bold;
}
.profile-name1{
    font-size: 10px;   
    margin-bottom: 3px;
    color: gray;
}
.date{
  font-size: 8px;
  
}
.user-profile-section .user-profile ul li p{
    margin-bottom: 10px;
    color: #b8a6a5;
    font-size: 14px;
    margin-left: 10px;
    
}
.user-profile-section .user-profile ul li p span{
    color: #000;
}
.user-profile{
    margin-top: 0px;
}
.form-control {
    width: 100%;
    font-size: .700rem;
    line-height: 1.5;
    background-color: #fff;
    border: 1px solid #e9ecef;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
.select{
    height: 25px;
    font-size: 11px;
    color:gray;
    width: 100%;
    border-radius: 2px;
    border:1px solid rgb(182, 181, 181);
}
.chart-section{
    min-height: 250px;
    border:1px solid #efefef;
    padding: 15px;
    margin-bottom: 30px;
}
.table-show{
    margin-bottom: -22px;
}
.user{
    margin-bottom:100px;
}
.year{
   color: #999999;
  
}
.table td, .table th {
    padding:5px;
    
}
.snap-calender{
        font-size: 13px;
        background: #fff;
        cursor: pointer;
        padding: 2px 10px;
        border: 1px solid #ccc;
        /* max-width: 42%; */
        color: black;
        margin-bottom: 10px;
}
.heart-rate {
    max-width: 180px;
    height: 50px;
    position: relative;
    margin:0px auto;
   
    overflow:hidden;
        
    }
    /* th { background: #c5c5c5;} */
    dd, h1, h2, h3, h4, h5, h6, label {
        margin-bottom: 0rem;
        
    }
    div.dataTables_wrapper div.dataTables_filter {
        font-size: 10px;
       
    }
    .dataTables_length {
        margin-top: -2px;
       font-size: 10px;
    }
    #patients{
     font-size: 10px;   
    }
    .th { border-bottom: 1px solid  black; }

    .svg {
       
        width: 50px;
        height: 53px;
    }
    .heartimg{
        width: 50px;
        height: 53px;
        color:red;

    }
    
    .fade-in {
      position: absolute;
      width: 100%;
      height:100%;
      background-color: white;
      top: 0;
      right: 0;
      animation: heartRateIn 4.5s linear infinite;
    
    }
     .fade-out {
      position: absolute;
      top: 0;
      left: -120%;
      animation: heartRateOut 4.5s linear infinite;
      background: rgba(255, 255, 255, 1);
      background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 11, 11, 0) 100%);
      background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
      background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
      background: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
      background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 0) 100%);
    }
    
    @keyframes heartRateIn {
      0% {
        width: 100%;
      }
      50% {
        width: 0%;
      }
      100% {
        width: 0;
      }
    }
    
    @keyframes heartRateOut {
      0% {
        left: -120%;
      }
      30% {
        left: -120%;
      }
      100% {
        left: 0;
      }
    }