

.head1 {
    font-size: 20px;
    margin-top: 5px;
}

.head2 {
    text-align: end;
    margin-top: 10px;
    }
    .profile{
        font-size: 10px;
    }
    
    
    .head13{
        font-size: 10px;
        margin-top: 10px;
        
    }
    .ico1{
         margin-left:50px;
    }
    .ico2{
    background-color: black;
    color: white;
    width: 20px;
    height: 20px;
    margin-top: 10px;
    border-radius: 20px;
    }
    .expen{
        text-align:right;
        
    }
  /* .full,.once{
      text-align:right;
  } */
    
    .comparison{
       
    /* background-color: #c1c1c1; */
    height: 30px;
    border-bottom: 1px solid black;
    width: 100%;
}

.img {
    width: 180px;
    border-radius: 100px;
    }
    .details{
        border:1px solid #C5C3C3;
        border-radius: 3px;
        /* margin-left: 20px; */
    }
    .third{
        border:1px solid rgb(197, 195, 195);
        
        margin-top:10px;
        height: 650px;
    }
    #cars{
    width: 170px;
    margin-right: 10px;
    margin-left: 10px;
}

#date {
    width: 40%;
}

.data {
    max-width: 20%;
}

.drop {
    margin-top: 10px;
    
}

.Bio-data {
    /* padding:0 0 10px 10px; */
    border: 1px solid rgb(218, 215, 215);
    /* margin: 20px; */
    text-align: center;
    /* max-width: 91%; */
    margin-left: 10px;
    height: 300px;
}

.pro {
    background-color: #C5C3C3;
    height: 30px;
    border-bottom: 1px solid black;
    max-width: 82%;
}


/* .data{
        height: 550;
    } */

.again {
    color: white;
    }
    .full{
        border:none;
        border-radius: 100%;
        background-color: #b6b3b3;
        font-size: 10px;
        }
    .once{
        border:none;
        background-color: black;
        border-radius: 100%;
        font-size: 10px;
    }
    .fill{
    border:none
    }
    .head3{
    margin-top: 10px;
}

.year {
    margin-top: 2px;
}

.personal {
    font-size: 10px;
}

.Bpm {
    color: red;
    font-size: 7px;
}

.time {
    font-size: 10px;
    }
    .Bpm
    {
color: red;
font-size: 7px;
    }
    .time{
        font-size: 10px;
    }
    .reported{
        font-size: 8px;
    }
    .time1{
margin-right: 2px;
    }
    .year{
        font-size: 8px;
    }
    .Running{
margin-top: 20px;
font-size: 8px;
    }
    #chart{
margin-top: 20px;
    }
    #snap{
        font-size: 10px;
    }
    #patients{
margin-left:15px;
width: 14%;
    }
    #activities{
width: 15%;
    }
    #status{
        width: 15%;
    }
    #cars1{
        width: 325px;
        margin-left: 8px;
        }
   
       
        .mydata{
        
       
        margin-left:10px;
            }
            .chart-1{
                border: none;
                margin-top:15px;
            }
           
     
